<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/image/Logo.png" alt="logo-burger" />
    </div>

    <app-menu-list></app-menu-list>
      
    <div
      class="currency"
      title="Изменить валюту"
      id="change-currency"
      >
      <!-- (click)="changeCurrency()" -->
      <!-- {{ currency }} -->
        currency
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="../assets/image/Logo.png" alt="logo-burger" />
    </div>
    <div class="right">Все права защищены</div>
  </div>
</footer>
