.products {
    background-image: url('/assets/image/burgers_bg.png');
    background-position: top center;
    background-size: 1400px;
}

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    margin: 60px 0;
    gap: 24px;
}
