<section class="why" id="why" #why>
  <div class="container">
    <div class="why-title common-title">почему нас выбирают?</div>
    <div class="why-items">
      <div class="why-item">
        <img src="../assets/image/burger.png" alt="burger" class="why-image" />
        <div class="why-item-title">Авторские рецепты</div>
        <div class="why-item-text">
          Наши бургеры обладают уникальным сочетанием вкусов и не похожи
          ни на какие другие. Мы тщательно отбираем лучшие ингредиенты
          и сочетания вкусов для нашего меню.
        </div>
      </div>
      <div class="why-item">
        <img src="../assets/image/meat.png" alt="meat" class="why-image" />
        <div class="why-item-title">Мраморная говядина</div>
        <div class="why-item-text">
          Для наших бургеров мы используем отборную 100% мраморную говядину,
          которую закупаем исключительно у фермеров. Мы уверены в качестве
          нашего мяса.
        </div>
      </div>
      <div class="why-item">
        <img src="../assets/image/truck.png" alt="truck" class="why-image" />
        <div class="why-item-title">Быстрая доставка</div>
        <div class="why-item-text">
          Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка
          бесплатно. Мы тщательно упаковываем наши бургеры, чтобы по дороге они
          не остыли.
        </div>
      </div>
    </div>
  </div>
</section>
