<section class="order" id="order">
  <div class="container">
    <div class="order-title common-title">оформление заказа</div>
    <div class="order-form">
      <img
        src="../assets/image/order_image.png"
        alt="order img"
        class="order-image"
      />
      <div class="order-form-text">
        Заполните все данные и наш менеджер свяжется с вами для подтверждения
        заказа
      </div>
      <form class="order-form-inputs" [formGroup]="form">
        <div
          class="order-form-input"
          [class]="{
            error: form.get('order')?.invalid && form.get('order')?.dirty
          }"
        >
          <input
            type="text"
            placeholder="Выберите товар в списке"
            id="burger"
            formControlName="order"
            readonly
          />
        </div>
        <div
          class="order-form-input"
          [class]="{
            error: form.get('name')?.invalid && form.get('name')?.dirty
          }"
        >
          <input
            type="text"
            placeholder="Ваше имя"
            id="name"
            formControlName="name"
          />
        </div>
        <div
          class="order-form-input"
          [class]="{
            error: form.get('phone')?.invalid && form.get('phone')?.dirty
          }"
        >
          <input
            type="text"
            placeholder="Ваш телефон"
            id="phone"
            formControlName="phone"
          />
        </div>
        <div class="order-form-input">
          <input type="text" formControlName="totalPrice" readonly />
        </div>
        <app-button
          (click)="confirmOrder()"
          [isDisabled]="!form.valid"
          title="Оформить заказ"
        ></app-button>
      </form>
    </div>
  </div>
</section>
